body
{
    font-size: 14px;
}
h1 {
    text-align: center;
}
h6 {
    text-align: right;
}
.cellheader {
    font-weight: bold;
}
#current_day {
    color: red;
}
.today {
    background-color: #E27878;
}
.hidden {
    display: none;
}
.entry {
    display: none;
    height: auto;
    text-align: center;
    overflow: hidden;
}
#viewingmethod {
    float: right;
}
.date {
    text-align: right;
}
.list-colorbox {
    background-color: red;
    width: 50px;
    height: 25px;
    float: right;
    border: black;
    border-width: 3px;
    border-style: solid;
}
.week-entry {
    width: 100px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-day {
    background-color: linen;
}

.buttons {
    /* float: left; */
    background-color: #4CAF50;
    border: 1px solid rgb(0, 148, 0);
    height: 35px;
    width: 120px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.buttons_disabled {
    background-color: rgba(12, 170, 12, 0.315);
    border: 1px solid green;
    height: 35px;
    width: 120px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
#random_button {
    background-color: #4caf4f85;
    border-radius: 8px;
    height: 30px;
}
table, thead, tr, th, td {
    border: 1px solid black;
}
table {
    table-layout: fixed;
    /* width: 960px; */
    width: 100%;
    border-collapse: collapse;
}
th {
    height: 50px;
    background-color: #4caf4fa1;
}
td {
    /* padding: 15px; */
}
body
{
    font-size: 8px;
}

[class*="col-"]
{
    width: 100%;
    
}
@media only screen and (max-width: 600px)
{
    .buttons
    {
        /* border-radius: 50%; */
    }
}
@media only screen and (min-width: 600px)
{
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .entry
    {
        display: block;
    }
    body
    {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px)
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .entry
    {
        display: block,
    }
    body
    {
        font-size: 14px;
    }
}